# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=artisan_bid
DB_USER=artisan_bid_user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432
